<h1>Welcome to Disney Trip Planner! <%= @user.first_name %></h1>
<p>
  You have successfully signed up for Disney Trip Planner!
  <br>
  Your username is: <%= @user.email %>.<br>
</p>
<p>Thanks for signing up! Have a magical time!</p>
